.header {
  display: flex;
  user-select: none;
  align-items: center;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  
}

#headText a {
  margin-right: auto; 
  text-decoration: none;
  color: #000000;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  padding: 5px 10px;
  transition: color 0.3s;
  font-weight: 700;
}

.header-center {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header form {
    margin-left: auto;
}

#homeText a,
#newsText a,
#aboutusText a {
  text-decoration: none;
  color: #000000;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  padding: 5px 10px;
  transition: color 0.3s;
  font-weight: 500;
  position: relative;
  transition: transform 0.3s ease;
}

.header-center:hover #homeText a::after {
  width: 0;
}

#homeText a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: width 0.4s ease;
}

#newsText a::after,
#aboutusText a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.4s ease;
}

#newsText:hover a::after,
#aboutusText:hover a::after {
  width: 100%;
}
#homeText a:hover,
#newsText a:hover,
#aboutusText a:hover {
  transform: scale(1.05);
}

.entryButton {
  border: none;
  border-radius: 24px;
  background-color: #00CCD9;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 700;
  padding: 15px 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 204, 217, 0.5);
  transition: all 0.3s ease;
  width: 333px;
  height: 93px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entryButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 30px 0 rgba(0, 204, 217, 0.75);
}