/*КУРСЫ*/
.square {
    position: relative;
    width: 712px;
    height: 396px;
    
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15), inset 0 2px 4px rgba(255, 255, 255, 0.4);
}
.courses {
    user-select: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center; 
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 500;
    z-index: 1;
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
}
.name_courses{
    user-select: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center; 
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 700;
    z-index: 1;
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
}
.courses_image {
    user-select: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    
}
#square1{left: 150px; top: 1200px; background: linear-gradient(
    135deg,
    rgba(255, 219, 126, 0.7)
);}

#square2{left: 1050px; top: 803px; background: linear-gradient(
    135deg,
    rgba(126, 255, 201, 0.7)
);}

#square3{left: 150px; top: 903px; background: linear-gradient(
    135deg,
    rgba(129, 126, 255, 0.7)
);}

#square4{left: 1050px; top: 507px; background: linear-gradient(
    135deg,
    rgba(255, 126, 126, 0.7)
);}


